html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}
.App {
  min-height: 100%;
}
.Duration {
  position: relative;
  background-color: #ccc;
  border-radius: 0.5em;
  .Progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 0.5em;
  }
}
.Nav {
  a {
    margin: 1em;
  }
}
