.Proxify {
  position: relative;
}
.Button {
  position: absolute;
  top: 0;
  right: 2em;
  width: 18px;
  height: 14px;
  border: 0;
  background: transparent;
}
.Logo {
  position: absolute;
  top: 40px;
  right: 2em;
  width: 40px;
  height: 40px;
}
